<p>
    <mat-toolbar color="primary">
      <a routerLink="/telus" mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
        <mat-icon>menu</mat-icon>
      </a>
      <span>Telus International</span>
      <span class="example-spacer"></span>
      <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
        <mat-icon>favorite</mat-icon>
      </button>
      <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
        <mat-icon>share</mat-icon>
      </button>
    </mat-toolbar>
  </p>
  


<!-- <button mat-raised-button color="primary">Primary</button>
<button mat-icon-button color="warn" aria-label="Example icon button with a heart icon">
    <mat-icon>home</mat-icon>
    </button>
    <button mat-fab color="primary" aria-label="Example icon button with a delete icon">
        <mat-icon>delete</mat-icon>
      </button>
      <mat-spinner style="height: 50px;width: 90px;"></mat-spinner> -->